config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/mobends.cfg
.mixin.out/
libraries/
llibrary/
logs/
crash-reports/
mods/memory_repo/
mods/1.12.2/
mods/# LibLoader.jar
crafttweaker.log
usercache.json
backups/
BBOP/
Biome Bundle/
world_homc/
Biome Bundle-*.zip
world_homc-*.zip
BBOP-*.zip