config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/mobends.cfg
config/splash.properties
.mixin.out/
libraries/
llibrary/
logs/
crash-reports/
mods/memory_repo/
mods/1.12.2/
mods/# LibLoader.jar
local/ftbutilities/backups.json
crafttweaker.log
usercache.json
backups/
BBOP/
BBOP-*.zip
Biome Bundle/
Biome Bundle-*.zip
world_homc/
world_homc-*.zip

