# Вращение Земли Майнкрафтская 1.12.2
# Fri 04 Dec 2020 11:33:14 CET

TimeMultiplier: 7
SystemTime: no
StartDate: 
Latitude: 23.5
LocalOffset: 0.0
VariableSunDeclination: no
SereneSeasonControl: no
DaylightSaving: no
DawnSunAngle: 2.5
StartOnDawn: no

RoundCelestials: no
SunSize: 10.0
MoonSize: 10.0
Moonlight: yes
DarkerNights: yes