# Configuration file

animated {
    B:cave_spider=true
    B:husk=true
    B:player=false
    B:skeleton=true
    B:spider=true
    B:stray=true
    B:wither_skeleton=true
    B:zombie=true
}


general {
    S:"Current Pack"=none
    B:mobends.setting.arrow_trails=true
    B:mobends.setting.spin_attack=true
    B:mobends.setting.sword_trail=true
    B:showArrowTrails=true
    B:showSwordTrail=true
    S:weaponItems <
     >
}


server {
    B:AllowModelScaling=false

    # Does the server allow the use of bends packs?
    B:bendsPacksAllowed=true

    # Does the server allow scaling of the player model more than the normal size?
    B:modelScalingAllowed=false

    # Does the server limit excessive bends pack transformation?
    B:movementLimited=true
}


